{% extends 'empolyee/test.html' %}

{% block body %}
<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-1" style="background-color:lavender;"></div>
  <div class="col-sm-10" style="background-color:lavender;">
    <div class="form-group">
       <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:5px;
}
</style>
<center><h1>PaySlip</h1></center></div>
 {% for employees in employees%}
   {% if request.user.get_username == employees.name %}

            <center><table style="width:80%">
          <tr>
            <td name='id'><center>ID</center></td>
            <td><center>{{ employees.id }}</center></td>
          </tr><tr>
            <th><center>NAME</center></th>
            <td name='Name'><center>{{ employees.name }}</center></td>
          </tr><tr>
            <th><center>DOB</center></th>
            <td name='Date_Brith'><center>{{ employees.dob }}</center></td>
          </tr><tr>
            <th><center>Address</center></th>
            <td name='Address'><center>{{ employees.address }}</center></td>
          </tr><tr>
            <th><center>Aadher_number</center></th>
            <td name='Aadhar_number'><center>{{ employees.name  }}</center></td>
          </tr><tr>
            <th><center>Phone_number</center></th>
            <td name='Phone_number'><center>{{ employees.mobile }}</center></td>
          </tr><tr>
            <th><center>&nbsp;&nbsp; &nbsp;Email_id&nbsp;&nbsp;&nbsp;</center></th>
            <td  name='Email_id'><center>{{ employees.email }}</center></td>
          </tr><tr>
            <th><center>Alternate_no</center></th>
            <td name='Alternate_no'><center>{{ employees.alternate_no }}</center></td>
          </tr><tr>
            <th><center>Type</center></th>
            <td name='Type'><center>{{ employees.type1 }}</center></td>
          </tr>
          
  {% endif %}
  {% endfor %}
  {% for payments in payments%}
     {% if request.user.get_username == payments.name %}
        <tr>
          <th><center>Mounth</center></th>
          <td><center><b>{{ payments.mounth }}</b></center></td>
        </tr>
        <tr>
          <th><center>Leave_Days</center></th>
          <td><center><b>{{ payments.leaves_no_days }}</b></center></td>
        </tr>
        <tr>
          <th><center>Actual_CTC</center></th>
          <td><center><b>{{ payments.actual_ctc}}</b></center></td>
        </tr>
        <tr>
          <th><center>Payble_CTC</center></th>
          <td><center><b>{{ payments.payble_ctc }}</b></center></td>
        </tr>
      {% endif %}
{% endfor %}
  </table></center>
 <br><br>


  </div>
    </div>
 </div>
 </div>
   <div class="col-sm-1" style="background-color:lavender;"></div>
   </div>
</div>


{% endblock %}